@import 'app-box';

body{
    font-family: Roboto;
}

.container{
    background-image: url("../img/bg/bg1.jpg");
    background-size: cover;
    background-position-y: center;
    background-color: #C5C5C5;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
